<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fh.voting"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_CONTACTS" />
    
    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.HomeActivity" android:label="Android Voting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" android:label="Registration"></activity>
        <activity android:name=".activities.ManageVotes"></activity>
        <activity android:name=".activities.ManageServerActivity"></activity>
        <activity android:name=".activities.MyVotesActivity"></activity>
        <activity android:name=".activities.PendingVotesActivity"></activity>
        <activity android:name=".activities.PublicVotesActivity"></activity>
        <activity android:name=".activities.ManageVoteActivity"></activity>
        <activity android:name=".activities.PerformVoteActivity"></activity>
    </application>

</manifest>